version: 2.1

jobs:
  linux:
    docker:
      - image: cimg/go:1.20
    steps:
      - run:
          name: "Go version"
          command: |
            go version
            go env
      - run:
          name: "Install tools"
          command: |
            curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.51.1
      - checkout
      - run:
          name: "Lint"
          command: golangci-lint run --timeout 120s
          resource_class: large
      - run:
          name: "Test"
          command: go test -v ./...
      - run:
          name: "Build all examples"
          command: go build -v ./examples/...
      - run:
          name: "Build all cmds"
          command: go build -v ./cmd/...
workflows:
  version: 2
  goevmlab:
    jobs:
      - linux
